<a href="https://colab.research.google.com/github/AlexKressner/Business_Intelligence/blob/main/Pandas_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Übersicht
1. [Einführung Pandas](#einführung_pandas)
    1. [DataFrames](#dataframes)
    1. [Erste Methoden zur Datenexploration](#exploration)
    1. [Optionen beim Laden von Daten](#laden)
    1. [Sortieren](#sortieren)
    1. [Subsetting](#subsetting)
    1. [Neue Spalten](#neue_spalte)
2. [Aggregation von Daten](#aggregation)
    1. [Erste deskriptive Parameter & Summierung](#parameter)
    1. [Zählen](#zaehlen)
    1. [Gruppierungen und Aggregationen](#gruppierung)
    1. [Pivottabellen](#pivot)
    1. [Funktion transform](#transform)

# Übungsaufgaben
- [Erste Exploration DataFrame - Rossmann Store Sales](#aufgabe_exploration)
- [Sortieren und Subsetting - Rossmann Store Sales](#subset_sort)
- [Statistische Parameter & Summen - Rossmann Store Sales](#parameter_summen)
- [Aggregationen - Verkaufszahlen Walmart](#walmart)

# 1. Einführung Pandas <a class="anchor" id="einführung_pandas"></a>
Pandas ist eines der bekanntesten Packages für Python und wird zur Lösung diverser Aufgaben im Bereich der Datenverarbeitung eingesetzt - von der einfachen Datenmanipulation bis hin zu ausgefeilten Datenanalysen. Wir beschäftigen uns intensiv mit dem Datenobjekt "DataFrames" und wie man mit diesem im Rahmen der Datenanalyse arbeitet, d.h. erstellt, filtert, transformiert etc. Pandas verfügt über eine hervorragende Dokumentation, die Sie unter folgendem [Link](https://pandas.pydata.org) finden.

## 1.1 DataFrames <a class="anchor" id="dataframes"></a>
Ein [DataFrame](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) speichert Daten in tabellarischer Form, ähnlicher einer Excel- oder SQL-Tabelle. Das folgende Beispiel erzeugt einen DataFrame aus zwei Listen. Die erste Liste enthält Teile der aktuellen Tabelle der 1. Fussballbundesliga. Es handelt sich um eine Liste aus Listen. Jede Liste in der Liste `tabelle` stellt einen Tabelleneintrag (Zeile) mit den zugehörigen Daten dar. Die Liste `spalten_namen` enthält - wie der Name bereits sagt - die Spaltennamen der Tabelle.

In [ ]:
# import pandas
import pandas as pd

In [ ]:
# Einstellungen zum Anzeigen von DataFrames etc.
pd.options.display.float_format = "{:.1f}".format
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000

In [ ]:
tabelle = [
    [1, "Bayern München", 19, 15,	3,	1,	58, 16,	42,	48],
    [2, "Bayer Leverkusen", 19, 12,	6,	1,	46, 26,	20,	42],
    [3, "Eintracht Frankfurt", 19, 11,	4,	4,	44, 26,	18,	37],
    [4, "Stuttgart", 19, 9,	5,	5,	36, 28,	8,	32],
    [5, "RB Leipzig", 19, 9,	5,	5,	34, 29,	5,	32],
    [6, "Mainz 05", 19, 9,	4,	6,	33, 23,	10,	31],
]

In [ ]:
spalten_namen = [
    "Rang", "Mannschaft", "Spiele", "Siege",
    "Unentschieden", "Niederlagen",
    "Tore_+", "Tore_-", "Tordifferenz",
    "Punkte"
]

Nachfolgend erzeugen wir den DataFrame, der die Bundesligatabelle darstellt.

In [ ]:
tabelle = pd.DataFrame(tabelle, columns=spalten_namen)
tabelle

Wir können einen DataFrame auch mit entsprechenden Methodenaufrufen in seine einzelnen Komponenten zerlegen ("Attribute"):

In [ ]:
tabelle.values

In [ ]:
tabelle.columns

In [ ]:
tabelle.index

## 1.2 Erste Methoden zur Datenexploration <a class="anchor" id="exploration"></a>
Für die erste Exploration von Daten in einem pandas DataFrame stehen viele nützliche Methoden zur Verfügung. Sie können sich eine Übersicht verschaffen, wenn Sie in einer Code-Zelle den DataFrame `tabelle` eingeben und anschließend einen Punkt (`.`) setzen. Mit der Eingabe `tabelle.` werden Ihnen automatisch alle verfügbaren Funktionen angezeigt.

In [ ]:
# Gibt Ihnen den "Kopf" des DataFrames zurück, d.h. die ersten 5 Zeilen
tabelle.head()

In [ ]:
# Zeigt Ihnen Informationen zu den einzelnen Spalten
tabelle.info()

**Frage:** Was machen die folgenden beiden Funktionen?

In [ ]:
tabelle.shape

In [ ]:
tabelle.describe()

### Aufgabe: Erste Exploration DataFrame <a class="anchor" id="aufgabe_exploration"></a>
Für die Aufgabe verwenden wir den [Rossmann Store Sales](https://www.kaggle.com/competitions/rossmann-store-sales/overview) Datensatz. Die Daten befinden sich im Github-Repo, welches wir in unsere Arbeitsumgebung laden (`git clone`). Wenden Sie anschließend die zuvor eingeführten Methoden auf den neuen DataFrame an, um sich ein erstes Bild zu den Daten zu verschaffen.

In [ ]:
! git clone https://github.com/AlexKressner/Business_Intelligence

In [ ]:
FOLDER = "Business_Intelligence/Daten/Rossmann"

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";")

In [ ]:
sales.head()

**Fragen**
1. Wie viele Zeilen und Spalten hat der DataFrame?
1. Was ist der durchschnittliche Tagesumsatz eines Stores?
1. Was war die größte Anzahl von Kunden, die einen Store an einem Tag besucht haben?
1. Welchen Datentyp haben die einzelnen Spalten? Sind die Datentypen sinnvoll?

In [ ]:
# Antworten

## 1.3 Optionen beim Laden von Daten <a class="anchor" id="laden"></a>
Mit den Methoden `pd.read_...` lassen sich Daten aus unterschiedlichen Dateiformaten laden. Es gibt eine Vielzahl von Parametern, mit denen Sie das Laden von Daten gezielt steuern können. Wir gehen hier auf einige wichtige Parameter ein. Eine Übersicht zu `pd.read_csv()` finden Sie [hier](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

Über den Parameter `sep` definieren Sie das Zeichen mit dem Spalten im Ursprungsdokument voneinander getrennt werden. Bei csv-Dateien im deutschsprachigen Raum gilt häufig `sep=";"` im angelsäsischen Raum hingegen `sep=","`. Der Default ist `sep=","`.

Gelegentlich müssen wir auch definieren, wie Dezimalzahlen und Tausender im Ursprungsdokument dargestellt werden.

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";", decimal=".", thousands=",")

Über den Parameter `usecols` definieren Sie, welche Spalten gelesen werden sollen.

In [ ]:
sales_customers = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";", usecols=["Sales","Customers","Date"])

In [ ]:
sales_customers.head()

Ebenfalls sehr wichtig ist der Parameter `dtype`. Über diesen steuern Sie den Datentyp, der für eine Spalte verwendet wird. Eine Übersicht zu den Datentypen finden Sie [hier](https://pbpython.com/pandas_dtypes.html)

In [ ]:
dtypes= {
    "Store":"str",
    "DayOfWeek":"str",
    "Open":"str",
    "Promo":"str",
    "StateHoliday":"str",
    "SchoolHoliday":"str",
}

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";")

In [ ]:
sales.dtypes

In [ ]:
f"{FOLDER}/sales_short.csv"

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";", dtype=dtypes)

In [ ]:
sales.dtypes

Regelmäßig müssen Sie auch Spalten lesen, deren Eintragungen vom Datentyp Datum sind. Hierbei hilft Ihnen der Parameter `parse_dates` über den Sie in Form einer Liste die Spalten definieren, die Datumsangaben enthalten.

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales_short.csv", sep=";", dtype=dtypes, parse_dates=["Date"])

In [ ]:
sales.dtypes

In [ ]:
sales.head(2)

## 1.4 Sortieren <a class="anchor" id="sortieren"></a>
Mit der Methode `sort_values` können Sie DataFrames nach Belieben sortieren.

In [ ]:
tabelle

In [ ]:
tabelle.sort_values("Tore_+")

**Frage**: Sie sehen, dass die Methode `sort_values` die Werte einer Spalte aufsteigend sortiert. Wie können Sie die Werte absteigend sortieren?

Mit der Funktion `sort_values` können Sie einen DataFrame auch nach mehreren Spalten sortieren. **Frage**: Bitte erläutern Sie nach welcher Systematik die Sortierung im unten gezeigten Beispiel erfolgt!

In [ ]:
tabelle.sort_values(["Unentschieden","Tore_+"])

Für den Fall, dass die Sortierung nach mehreren Spalten erfolgen soll, kann ebenfalls individuell für jede Spalte eine Sortierungsvorschrift definiert werden.

In [ ]:
tabelle.sort_values(["Unentschieden","Tore_+"], ascending=[True,False])

## 1.5 Subsetting <a class="anchor" id="subsetting"></a>
Mit "Subsetting" können Sie Teile eines DataFrames "ausschneiden"!

### Subsetting von Spalten

In [ ]:
# Einzelne Spalte - Variante 1
tabelle["Mannschaft"]

In [ ]:
# Einzelne Spalte - Variante 2
tabelle.Mannschaft

**Frage:** Wie zeigen Sie nur die ersten drei Mannschaften an? Wie zeigen Sie nur die letzte Mannschaft an?

So wie zuvor können Sie erneut nach einzelnen Zeilen des DataFrames filtern. Wir werden uns nachfolgend und in einem späteren Kapitel noch intensiver damit befassen.

In [ ]:
spalten_namen

In [ ]:
spalten_namen = ["Rang","Mannschaft", "Tore_+"]

In [ ]:
# Variante 1
tabelle[spalten_namen][:3]

In [ ]:
# Variante 2
tabelle.loc[:2,spalten_namen]

In [ ]:
tabelle.head(3)

In [ ]:
tabelle.head(1)

In [ ]:
# Variante 3
tabelle.iloc[:3,[0,5,6]]

### Subsetting von Zeilen

Sie haben die Möglichkeit auf die Werte einer Spalte direkt logische Operationen anzuwenden. Im Ergebnis erhalten Sie nur die Zeilen des DataFrames, die die definierte Bedingung erfüllen. Mit der Anweisung `tabelle["Tore_+"]>65` wird beispielweise für jeden Eintrag in der Spalte `Tore_+` geprüft, ob der entsprechende Wert größer `65` ist. Die Rückgabewerte dieser Prüfung sind zunächst boolsche Werte und geben an, ob die Bedingung wahr oder falsch ist.

In [ ]:
tabelle

In [ ]:
tabelle["Tore_+"]>=50

Das Ergebnis der obigen Prüfung können Sie nun zum Filtern des DataFrames wie folgt einsetzen:

In [ ]:
# Variante 1
tabelle[tabelle["Tore_+"]>=50]

In [ ]:
# Variante 2 mit Auswahl von Spalten
tabelle.loc[tabelle["Tore_+"]>=50,["Mannschaft","Tore_+"]]

**Frage:** Wie filtern Sie auf die Mannschaft `Dortmund`?

Sie haben zudem die Möglichkeit einen Dataframe nach mehreren Bedingungen zu filtern. Möchten Sie beispielsweise nur Mannschaften haben, die mehr oder genau 50 Tore geschossen und gleichzeitig nicht mehr als 4 Unentschieden haben, braucht es folgende Anweisung:

In [ ]:
tabelle[tabelle["Tore_+"]>=50]

In [ ]:
# "&" ist das logische "UND"
tabelle[~(tabelle["Tore_+"]>=50)]

**Frage:** Was ist der Rückgabewert der folgenden Anweisung und welche Bedeutung hat das Zeichen `|`?

```Python
tabelle[(tabelle["Tore_+"]>=50) | (tabelle["Tordifferenz"]>=18)]
```

Eine weitere sehr nützliche Methode für das Subsetting ist `.isin([])`. Möchten Sie beispielsweise nach den Mannschaften `Dortmund` und `Leverkusen` filtern, gelingt dies wie folgt:

In [ ]:
tabelle[tabelle["Mannschaft"].isin(["Dortmund","Leverkusen"])]

### Aufgabe: Sortieren und Subsetting <a class="anchor" id="subset_sort"></a>

Wir betrachten erneut den Rossmann Store Sales Datensatz - wir hatten diesen bereits zuvor geladen und unter der Variablen `sales` als DataFrame gespeichert. Bitte bearbeiten Sie die folgenden Aufgaben:
1. Wählen Sie aus dem DataFrame die Spalten `"Date"`, `"Sales"` und `"Customers"` aus.
1. Sortieren Sie die Sales absteigend. Welcher Store hatte den höchsten Umsatz an einem Tag? Was ist das entsprechende Datum?
1. Filtern Sie den DataFrame auf Tagesumsätze zwischen 4.000\$ und 8.000\$.
1. Wie viele Tage mit Tagesumsätzen zwischen 4.000\$ und 8.000\$ sind im Datensatz enthalten? Sie können dazu z.B. die Funktion `shape` oder `len` nutzen. --> Paare (Store-Datum)
1. Filtern Sie den DataFrame auf die Stores `1`, `3` und `5`.
1. Filtern Sie den DataFrame auf die Stores `1`, `3` und `5` und zeigen Sie nur solche Zeilen an, die einen Mindesttagesumsatz von 7.500\$ aufweisen.

## 1.6 Hinzufügen neuer Spalten <a class="anchor" id="neue_spalte"></a>

**Neue Spalte mit Wert:** Wir erzeugen einen neuen DataFrame `df` und fügen eine neue Spalte ein, die in jeder Zeile immer den gleichen Wert hat:

In [ ]:
df = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]], columns=["Spalte1","Spalte2","Spalte3"])
df

In [ ]:
df["Spalte4"]=4
df

**Neue Spalte mit berechneten Werten:** Wir können beliebige arithmetische Operationen auf Spalten (mit numerischen Werten) anwenden und daraus neue Spalten erzeugen.

In [ ]:
tabelle.head()

In [ ]:
tabelle["Neue_Spalte"] = tabelle["Punkte"]/2
tabelle

In [ ]:
# Variante 1
tabelle["Tore_pro_Spiel"] = tabelle["Tore_+"]/19

# Variante 2 (besser)
tabelle["Tore_pro_Spiel"] = tabelle["Tore_+"]/tabelle["Spiele"]
tabelle

**Frage:** Wie fügen Sie eine neue Spalte ein, die für jede Mannschaft die Gegentore pro Spiel darstellt?

# 2. Aggregation von Daten <a class="anchor" id="aggregation"></a>

## 2.1 Erste deskriptive Parameter & Summierung <a class="anchor" id="parameter"></a>

In [ ]:
tabelle

In [ ]:
# Mittelwert
tabelle["Tore_+"].mean()

In [ ]:
# Median
tabelle["Tore_+"].median()

In [ ]:
# Standardsabweichung
tabelle["Tore_+"].std()

Es besteht die Möglichkeit, dass Sie Methoden zur Berechnung von statistischen Parametern auf mehrere Spalten gleichzeitig anwenden:

Berechnung des Mittelwertes für die beiden Spalten `Tore_+` und `Tore_-`:

In [ ]:
tabelle[["Tore_+","Tore_-","Tordifferenz","Punkte"]].median()

Die Anzahl aller geschossenen Tore berechnet Ihnen die Methode `sum()`:

In [ ]:
tabelle["Tore_+"].sum()

**Frage:** Was macht die Funktion `cumsum`? Sehen Sie sich dazu die Ausgabe in der unteren Code-Zellen genauer an.

In [ ]:
tabelle["cumsum"] = tabelle["Tore_+"].cumsum()
tabelle

**Frage**: Wie lassen sich die kummulativen Häufigkeiten als Prozent darstellen? Denken Sie nochmals an den Abschnitt, in dem wir beliebige arithmetische Operationen für einzelne Spalten durchgeführt haben!

### Aufgabe: Parameter und Summen - Rossmann Store Sales <a class="anchor" id="parameter_summen"></a>

Wir betrachten erneut die Daten von Rossmann:

In [ ]:
sales.head()

Bitte bearbeiten Sie die folgenden Aufgaben:
1. Über welchen Zeitraum wurde die Salesdaten von Rossmann erhoben?
1. Was ist der durchschnittliche Tagesumsatz eines Rossmann Stores?
1. An welchen Tagen (`Date`) konnte die kleinsten und größten Tagesumsätze beobachtet werden? Nutzen Sie hierzu die `max()` und `min()` Methoden!
1. Was ist der gesamte Umsatz von Rossmann über alle Stores im Beobachtungszeitraum? Nutzen Sie die `sum()` Methode!
1. Fügen Sie eine neue Spalte ein, die den mittleren Tagesumsatz pro Kunde darstellt! Schauen Sie sich dazu nochmals das Kapitel zum Einfügen neuer Spalten an!
1. An wie viel Tagen gab es Promotionen?
1. Wie hoch liegt der mittlere Tageumsatz von Store `262`, wenn keine Promotionen laufen?
1. Wie hoch liegt der mittlere Tageumsatz von Store `262`, wenn Promotionen laufen?

## 2.2 Zählen <a class="anchor" id="zaehlen"></a>
Wir bleiben beim Rossmann Datensatz. Enthalten Spalten kategoriale Werte interessiert man sich z.B. dafür, wie häufig eine Kategorie auftritt. Pandas stellt dafür die Funktion `value_counts` bereit:

In [ ]:
tabelle

In [ ]:
tabelle["Unentschieden"].value_counts()

In [ ]:
sales["Store"].value_counts()

**Frage:** Was macht die Parameter `normalize` und `ascending` in der Funktion `value_counts`?

## 2.3 Gruppierungen und Aggregationen <a class="anchor" id="gruppierung"></a>

Wenn wir uns in die Lage eines zentralen Controllings versetzen, so interessieren und natürlich die Umsätze eine jeden Stores. Zum Beispiel könnten wir fragen, wie die mittleren Tagesumsätze je Store ausfallen, um anschließend die einzelnen Filialen miteinander zu vergleichen. Mit den bisherigen Methoden können wir solche Rechnung machen:

In [ ]:
sales_store1 = sales[sales.Store=="1"]
sales_store262 = sales[sales.Store=="262"]
sales_store159 = sales[sales.Store=="159"]

In [ ]:
sales_store1.head()

In [ ]:
mean_sales_store1 = sales_store1.Sales.mean()
mean_sales_store262 = sales_store262.Sales.mean()
mean_sales_store159 = sales_store159.Sales.mean()
mean_sales_store1, mean_sales_store262, mean_sales_store159

In [ ]:
sales.Store.nunique()

Sie können unmittelbar erkennen, dass diese Art der Berechnung bei einer Vielzahl von Stores extrem mühsam ist. Pandas stellt glücklicherweise Methoden bereit, die Ihnen die Arbeit enorm erleichtern, insbesondere die `groupby` Funktion.

Wir können beispielsweise ganz leicht den mittleren Tagesumsatz je Store berechnen, wenn wir zunächst die Daten nach Stores gruppieren (`sales.groupby("Store")`), anschließend die Spalte `Sales` auswählen (`sales.groupby("Store")["Sales"]`) und abschließend je Store den den mittleren Tagesumsatz berechnen:

In [ ]:
sales["Store"].value_counts()

In [ ]:
sales[sales.Store==1]["Sales"].mean()

In [ ]:
sales.groupby("Store")["Sales"].mean()

In [ ]:
# Mit Sortierung
sales.groupby("Store")["Sales"].mean().sort_values(ascending=False).head()

Sie haben die Möglichkeit mit der Funktion `groupby` auch Gruppierungen auf mehrere Spalten durchzuführen. Zum Beispiel können wir für jeden Store und Wochentag den mittleren Tagesumsatz berechnen:

In [ ]:
sales.groupby(["Store","DayOfWeek"])["Sales"].mean()

Mit dem Befehl `reset_index()` wird der Index des DataFrames wieder als Spalte gesetzt!

In [ ]:
sales.groupby(["Store","DayOfWeek"])["Sales"].mean().reset_index()

Mithilfe der Methode `agg` können Sie gleichzeitig mehrere Aggregationsfunktionen berechnen lassen. Dazu übergeben Sie an die Funktion `agg` eine Liste, die die relevanten Funktionen als String enthält:

In [ ]:
sales.groupby(["Store","DayOfWeek"])["Sales"].agg(["min","mean","max","std", "median"])

## 2.4 Pivottabellen <a class="anchor" id="pivot"></a>
Sie kennen vermutlich Pivottabellen aus Excel. Diese lassen sich auch sehr leicht in pandas erzeugen. Dazu verwenden wir die Methode `pivot_table`. Die Ergebnisse sind analog zu denen aus den vorherigen Abschnitten, wenn wir `groupby` mit entsprechenden Aggreagationsmethoden aufrufen. Die Darstellung unterscheidet sich allerdings ein wenig.

In [ ]:
# Mittelwert des Tagesumsatzes je Store
sales.pivot_table(values="Sales", index="Store", aggfunc="mean")
# ist identisch mit
#sales.groupby("Store")["Sales"].mean()

In [ ]:
# Min, Max und Mittelwert des Tagesumsatzes je Store
sales.pivot_table(values="Sales", index="Store", aggfunc=["min","mean","max"])

In [ ]:
# Min, Max und Mittelwert des mittleren Tagesumsatzes je Wochentag
sales.pivot_table(values="Sales",
               index="Store",
               aggfunc="mean",
               columns="DayOfWeek",
               fill_value="-",
               margins=True
              )

## 2.5 Die Funktion `transform` <a class="anchor" id="transform"></a>
Sie haben gesehen, dass bei Verwendung der Funktion `groupby` ein neuer DataFrame entsteht, der so viele Zeilen hat wie es verschiedene Gruppen gibt. Es kommt regelmäßig vor, dass Sie Berechnungen auf gruppierten Daten machen möchten, das berechnete Ergebnis aber wieder dem urspünglichen DataFrame in Form einer neuen Spalte hinzufügen wollen.

Beispielsweise interessiert Sie, ob der Tagesumsatz über dem durchschnittlichen Tagesumsatz eines Stores liegt. Sie müssen es also schaffen, für jeden Store den durchschnittlichen Tagesumsatz zu berechnen und diesen anschließend mit jedem der einzelnen Tagesumsätze vergleichen.

In [ ]:
# Hier wird nur der mittlere Tagesumsatz je Store zurückgegeben
sales.groupby("Store",sort=False)["Sales"].mean().head()

In [ ]:
# hier wird der mittlere Tagesumsatz je Store berechnet und
# anschließend für jede Zeile des ursprünglichen DataFrames passend zurückgegeben
sales.groupby("Store")["Sales"].transform("mean")

In [ ]:
sales["MeanStoreSales"] = sales.groupby("Store")["Sales"].transform("mean")
sales[sales.Store.isin(["1","2"])].head()

In [ ]:
sales["SalesAboveMean"] = sales["Sales"] > sales["MeanStoreSales"]
sales.head()

Eine Übersicht zu den diversen Funktionen mit denen Sie DataFrames manipulieren können, finden Sie [hier](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

### Aufgabe: Data Wrangling & Aggregation - Verkaufszahlen Walmart <a class="anchor" id="walmart"></a>

Wir beschäftigen uns im folgenden mit einem Datensatz von Walmart. Dieser wurde 2020 von Walmart auf Kaggle veröffentlicht. Das Ziel des Wettbewerbs bestand darin, ML-Verfahren zu entwickeln, die bestmöglich die Verkäufe von einzelnen Produkten in Walmart-Filialen in den nächsten 28 Tagen vorhersagen. Nähere Informationen zum Wettbewerb finden Sie [hier](https://www.kaggle.com/competitions/m5-forecasting-accuracy/overview/description).

Bevor wir zu den eigentlichen Aufgaben kommen, müssen zunächst zwei verschiedene Datensätze laden und geeignet aufbereiten und miteinander verbinden (joins).

In [ ]:
FOLDER = "Business_Intelligence/Daten/Walmart"

In [ ]:
sales = pd.read_csv(f"{FOLDER}/sales.csv", index_col=0)

In [ ]:
sales.head()

Die Salesdaten wie oben angezeigt, liegen im sogenannten Wide-Format vor. In den späteren Anwendungen des maschinellen Lernens werden wir regelmäßig mit dem sogenannten Long-Format arbeiten. Für eine Umwandlung in das Long-Format können wir die Funktion `melt` verwenden. Unter folgendem [Link](https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-melt) finden Sie auch nochmal detailliertere Erklärungen zu dieser und anderen Funktionen.

In [ ]:
sales = sales.melt(
    id_vars=["id","item_id","dept_id", "cat_id", "store_id", "state_id"],
    var_name="day",
    value_name="demand"
    )

In [ ]:
sales.tail()

In der Datei `calendar` finden Sie nähere Informationen zu den einzelnen Verkaufsdaten, d.h. Datum, Wochentag, Jahr, etc. Die beiden DataFrame lassen sich über die Spalte `day` (`sales`) und `d` (`calendar`) miteinander verknüpfen. Wir werden einen Left-Join verwenden, um beide Datensätze zu verbinden. Dies gelingt über die Funktion `merge` und der Definition entsprechender Parameter.

In [ ]:
calendar = pd.read_csv(f"{FOLDER}/calendar.csv")
calendar.head(10)

In [ ]:
# merge sales und calendar
sales = pd.merge(sales, calendar, how="left", left_on="day", right_on="d")
sales.drop(columns=["d"], inplace=True)
sales.head()

Bitte berarbeiten Sie nun die folgenden Aufgaben:
1. In welchem Zeitraum wurden die Daten erhoben?
1. Wie viele verschiedene Stores gibt es im Datensatz?
1. Berechnen Sie den durschnittlichen Tagesabsatz (in Stück) für jeden Artikel? Nutzen Sie die `groupby` und anschließend die `mean` Methode!
1. Berechnen Sie für jeden Artikel den durchschnittlichen Tagesabsatz und fügen Sie diesen dem ursprünglichen DataFrame `sales` als neue Spalte hinzu. Nutzen Sie dazu die Funktion `transform`.
1. Fügen Sie anschließend eine neue Spalte hinzu, die den Tagesabsatz ins Verhältnis zum durchschnittlichen Tagesabsatz setzt.
1. **ENDGEGNERFRAGE:** Fügen Sie eine neue Spalte ein, die den Absatz des Vortages eines Artikels darstellt. Nutzen Sie die Funktionen `transform` & `shift` i.V.m. einer `lambda`-Funktion.
1. **ENDGEGNERFRAGE**: Fügen Sie eine neue Spalte ein, die den mittleren Absatz der letzten 3 Tage eines Artikels darstellt. Nutzen Sie die Funktionen `transform` & `shift`, `rolling` i.V.m. einer `lambda`-Funktion.